@page
@model Freshman_App.Pages.EventsModel
@{
}
<h1>@ViewData["Title"]</h1>
<p>Events</p>
<ul >
    <li>
        <div class="divimg">
            <div class="box1">
                <a href="~/images/a.jpg" title="1.	New students exchange meeting:&lt;br&gt;
                Date:19/08/2022&nbsp;
                Time:2:00 pm～6:00 pm&lt;br&gt;
                Location:Lobby, Building 1&lt;br&gt;
                When new students arrive at the school to report, the school leaders will organize the new students to gather in a classroom and give speeches.&lt;br&gt;" class="thickbox" rel="gallery-plants">
                    <img src="/images/1.jpg" alt="Plant 1" width="220px" height="270px" />
                </a>

                <div>
                    1.	New students exchange meeting:<br />
                    Date:19/08/2022
                </div>
            </div>
        </div>
   
        <div class="divimg">
            <div class="box1">
                <a href="/images/b.jpg" title="2.	Club Welcome&lt;br&gt;
Date:02/09/2022&nbsp;
Time:10:00 am～12:00 am, 1:00 pm～4:00 pm&lt;br&gt;
Location:Main Hall&lt;br&gt;
Description: New students will sign up for clubs they are interested in during meetings organized by the school, and clubs will be screened at the end.
" class="thickbox" rel="gallery-plants">
                    <img src="~/images/image003.png" alt="Plant 2" width="220px" height="270px" />
                </a>
                <div>
                    2.	Club Welcome<br />
                    Date:02/09/2022
                </div>
            </div>
        </div>
    
        <div class="divimg">
            <div class="box1">
                <a href="/images/c.jpg" title="3.	New students Group Activities (Visit the Museum)&lt;br&gt;
    Date:27/08/2022
Time:2:00 pm～5:00 pm&lt;br&gt;
Location:Lobby Building 2&lt;br&gt;
Description: The school is very friendly to new students and leads new students on a tour of the Museum." class="thickbox" rel="gallery-plants">
                    <img src="/images/image005.jpg" alt="Plant 3" width="220px" height="270px" />
                </a>
                <div >
                    3.	New students Group Activities <br />
                    Date:27/08/2022

                </div>
            </div>
        </div>
    </li>


    <li>
        <div class="divimg">
            <div class="box1">
                <a href="/images/d.jpg" title="4.	New student game&lt;br&gt;
                Date:03/09/2022
                Time:3:00 pm～7:00 pm&lt;br&gt;
                Location:Lecture Room, Building 1&lt;br&gt;
                Description: In order to familiarize new students with each other on the first day of school, the school divides everyone into four groups to compete in games, which can promote the friendly relationship of new students." class="thickbox" rel="gallery-plants"><img src="/images/image007.jpg" alt="Plant 4" width="220px" height="270px" /></a>


                <div >
                    4.	New student game<br />
                    Date:03/09/2022

                </div>
            </div>
        </div>

        <div class="divimg">
            <div class="box1">
                <a href="/images/e.jpg" title="5.	New Student Basketball Friendly Game&lt;br&gt;
Date:19/08/2022
Time:2:00 pm～6:00 pm&lt;br&gt;
Location:Basketball Stadium&lt;br&gt;
Description: The school organizes new students to become two teams for a basketball match. Facilitate new student relationships.
" class="thickbox" rel="gallery-plants"><img src="/images/image009.jpg" alt="Plant 4" width="220px" height="270px" /></a>

                <div >
                    5.	New Student Basketball Friendly Game<br />
                    Date:19/08/2022

                </div>
            </div>
        </div>



        <div class="divimg">
            <div class="box1">
                <a href="/images/f.jpg" title="6.	Extracurricular activities&lt;br&gt;
Date:19/08/2022
Time:2:00 pm～6:00 pm&lt;br&gt;
Location:Class room D12, Building 2&lt;br&gt;
Description: The school asks new students to explore off-campus in groups of five, and it asks for interviews with strangers.
" class="thickbox" rel="gallery-plants"><img src="/images/image011.jpg" alt="Plant 4" width="220px" height="270px" /></a>

                <div >
                    6.	Extracurricular activities<br />
                    Date:19/08/2022


                </div>
            </div>
        </div>

    </li>
</ul>

